.App {
  text-align: center;
}

.App-height {
  height: 80px;
}

.App-animation {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-backgroundcolor-green {
  background-color: rgb(76,175,154) !important;
}

.App-margintop-m7 {
  margin-top: -7% !important;
}

.App-margintop-p5 {
  margin-top: 5% !important;
}

.App-marginright-0 {
  margin-right: 0% !important;
}

.App-color-black {
  color: black !important;
}

.App-color-gold {
  color: gold !important;
}

.App-textalign-center {
  text-align: center;
}

.App-padding-leftright-p2 {
  padding-left: 2%;
  padding-right: 2%;
}

/* App css */
.navbar-default .navbar-nav > li > a {
  color: black !important;
}

.App-img-responsive {
  width: 100%;
  height: auto;
}

.App-float-right {
  float: right;
}

.App-fitcontent {
  width: -moz-fit-content !important;
}