.App {
  text-align: center;
}

.App-height {
  height: 80px;
}

.App-animation {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ------- calzaweb styles ------- */

.App-marginbottom-m3 {
  margin-bottom: -3% !important;
}

.App-marginright-0 {
  margin-right: 0% !important;
}

.App-marginright-m4 {
  margin-right: -4% !important;
}

.App-margintop-m7 {
  margin-top: -7% !important;
}

.App-margintop-m1 {
  margin-top: -1% !important;
}

.App-margintop-p0_5 {
  margin-top: 0.5% !important;
}

.App-margintop-p1 {
  margin-top: 1% !important;
}

.App-margintop-p2 {
  margin-top: 2% !important;
}

.App-margintop-p5 {
  margin-top: 5% !important;
}

.App-marginright-p37 {
  margin-right: 37% !important;
}

.App-margintop-m8 {
  margin-top: -8% !important;
}

.App-textalign-initial {
  text-align: initial;
}

.App-textalign-center {
  text-align: center;
}

.App-textalign-end {
  text-align: end;
}

.App-backgroundcolor-green {
  background-color: rgb(76,175,154) !important;
}

.App-height-p5em {
  height: 5em
}

.App-color-black {
  color: black !important;
}

.App-color-gold {
  color: gold !important;
}

.App-padding-leftright-p2 {
  padding-left: 2%;
  padding-right: 2%;
}

/* App css */
.navbar-default .navbar-nav > li > a {
  color: black !important;
}

.App-img-responsive {
  width: 100%;
  height: auto;
}

.App-float-right {
  float: right;
}

.App-fitcontent {
  width: -moz-max-content !important; 
  width: -webkit-max-content !important; 
}

.App-bordercolor-red {
  border-color: red !important;
}

.App-bordercolor-lightseagreen {
  border-color: lightseagreen !important;
}